@using Microsoft.AspNetCore.Localization;
@using Microsoft.AspNetCore.Mvc.Localization;
@using TaskManager.Servicios;
@inject IViewLocalizer localizer

@{
    // Obtiene caracteristicas como obtener ui culture (Ln: 23)
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var urlRetorno = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

@*<form class="form-horizontal"
      style="display: inline"
      method="POST"
      asp-controller="Home"
      asp-action="CambiarIdioma"
      asp-route-urlRetorno="@urlRetorno">

    <label>@localizer["Idioma:"]</label>
    <select name="cultura"
            id="cultura"
            onchange="this.form.submit()"
            asp-for="@requestCulture.RequestCulture.UICulture.Name"
            asp-items="Constantes.CulturasUISoportadas">
    </select>
</form>*@

<form asp-controller="Home" asp-action="CambiarIdioma"
      asp-route-urlRetorno="@urlRetorno" method="post" class="form-horizontal"
      role="form" style="display: inline">
    <label>@localizer["Idioma:"]</label>
    <select name="cultura" asp-for="@requestCulture.RequestCulture.UICulture.Name"
            id="cultura" onchange="this.form.submit()"
            asp-items="Constantes.CulturasUISoportadas">
    </select>
</form>